@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-ink-100 antialiased font-sans;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
